/* PAGINA DE ESTILOS */

/* ESTILO GENERAL DE LA PÁGINA */

@font-face {
    font-family: titulo;
    src: url("../fonts/MPLUS2-Black.ttf");
}

@font-face {
    font-family: texto;
    src: url("../fonts/OpensSans.ttf");
}


body {
    background-color: rgb(216, 218, 215);
    margin:0;
    padding:0;
}

#container {
    width: 90%; /* Para no romper la verticalidad de la pantalla */
    background-color: rgb(216, 218, 215); 
    margin: auto;
}



/***********    ESTILO DE LA BARRA DE NAVEGACIÓN        ***************/

.topnav {
    background-color: #333;
    overflow: hidden;
    }


.topnav a {
    float: left;
    display: block;
    color: rgb(216, 218, 215);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

a:hover {
    background-color: #ddd;
    color: rgb(83, 0, 0);
    }


.topnav a.active {
    background-color: #5c5c5ccc;
    color: rgb(216, 218, 215);
    }


.topnav .icon {
    display: none;
    }
html{
    scroll-behavior: smooth;
}


/**** ESTILO DE LA HERO SECTION ***/
#hero_section{
    background-image: url("../images/camera-1219748_1280.jpg");
    height:95vh;
    background-size: cover;
    background-position: center; /* En función del centro de interés de la imagen */
    position: relative;
    
}
#hero_h1{
    position:absolute;
    top: 20px;
    left: 20px;
    font-size: 2em; color: rgb(0, 0, 0); 
    text-shadow: 2px 2px rgb(255, 255, 255);
    font-family: texto;
}

#cta{
    position:absolute;
    bottom: 40px;
    left: 20px;
    padding: 10px; 
    background-color: #ffff;
    border-radius: 20px;
    text-transform: uppercase;
}

#cta:hover {
    background-color: #ffffff;
    cursor: pointer;
    ;
}
/***************    ESTILO DE INTRODUCCIÓN        ************/
#introduction{
    color: rgb(0, 0, 0);
    font-family: texto;
    padding: 4% 8%;
}

.h1{
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px rgb(255, 255, 255);
    background-color: grey;
} 

.p{ font-size: 1.25;
text-align: justify;}

/***************    ESTILO DE CARACTERISTICAS     ************/
#caracteristicas{
    color: rgb(0, 0, 0);
    font-family: texto;
    position: relative;
    padding: 4% 8%;
}

.h1{
    text-align: center;
    font-size: 2.5em;
    text-shadow: 2px 2px rgb(255, 255, 255);
} 

.p{ font-size: 1.25;
text-align: justify;}

.dt_caracteristica{
    text-align: left;
    font-size: 1.5em;
    text-decoration: underline;
    padding: 10px 15px;
}

.dd_caracteristica{
    text-align: justify;
}


/****************** ESTILO DE SECCION TIPOS DE TARJETAS ************/
#tipos-tarjetas{
    background-size: cover;
    background-position: center; /* En función del centro de interés de la imagen */
    position: relative;
    padding: 4% 8%;
    font-family: texto;
}


#izquierda-h2{
    text-align: center;
    font-size: 2em;
    color: black;
    background-color: rgba(245, 245, 245, 0.734);
}

#derecha-h2{
    text-align: center;
    font-size: 2em;
    color: black;
    background-color: rgba(245, 245, 245, 0.734);
}

#columna-derecha{
    text-align: justify;
    padding: 10px 5px;
}

#columna-izquierda{
    text-align: justify;
    padding: 10px 5px;
}


#amateur{
    width: 58.5%; /* imagen pegada ala izqd y texto al rededor*/
    margin: auto;
    display: block;
}

#profesional{
    width: 60%; /* imagen pegada ala izqd y texto al rededor*/
    margin: auto;
    display: block;
}
.mitad{
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.p_tipos{
    padding: 10px 10px;
    text-align: justify;
}

h3{
    font-size: 2em;
}

/************** ESTILO SECCION FUNCIONAMIENTO ***************/

#funcionamiento{color: rgb(0, 0, 0);
    font-family: texto;
    position: relative;
    padding: 4% 8%;
}

#dt_funcionamiento{
    text-align: justify;
    padding: 5px 5px;
    font-size: 1.25em;
    color:  rgb(0, 0, 0);
    text-decoration: underline;
}



dd{
    text-align: justify;
    padding: 5px 10px;
}


/************** ESTILO SECCION INSTALACION ***************/

#instalacion{color: rgb(0, 0, 0);
    font-family: texto;
    padding: 4% 8%;
    position: relative;
}

#dt_instalacion{
    text-align: justify;
    padding: 5px 5px;
    font-size: 1.25em;
    color:  black;
    text-decoration: underline;
}



dd{
    text-align: justify;
    padding: 5px 10px;
}



/*^******** SECCION DE LAS MARCAS ***********/
#marcas{
    color: rgb(0, 0, 0);
        font-family: texto;
        position: relative;
        padding: 4% 8%;
}

.dt_marcas{
    padding: 10px 15px;
    text-align: justify;
}

.marca{
    padding: 10px 10px;
    position: relative;
}


a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/******** SECCIÓN BIBLIOGRAFIA *************/
#biblio{
    color: rgb(0, 0, 0);
    font-family: texto;
    padding: 4% 8%;
}

.h1{
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px rgb(255, 255, 255);
    background-color: grey;
} 

.p{ font-size: 1.25;
text-align: justify;}

/******** SECCIÓN FOOTER *************/

#page_foot{
    padding: 15px 20px;
    margin: auto;
    position: relative;
    text-align: center;
}

.foot{
    padding: 15px 20px;
    margin: auto;
    font-size: 1em;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

#a-footer{
    color: rgb(151, 121, 1);
}

#a-back{
    text-transform: uppercase;
}

#back{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px  rgb(255, 255, 255);
    text-align: right;
    padding: 5px 5px;
}



/*********************  media queries     ***********************/
@media only screen and (max-width: 800px) {
    #profesional {width: 100%;}
    #amateur{width: 100%;}
    #youtube{width: 100;}
}


@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
        }
    }


@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
        }
    }

    

